[ -f ~/.envrc ] && source ~/.envrc
[ -f $PWD/.env ] && source $PWD/.env
export PATH=$PWD/bin/:$PWD/usr/bin/:$HOME/.local/bin/:$HOME/.nvm:$PATH
# Disable aws cli v2 prompt for human input
export AWS_PAGER=''
